<html>

<head>
    <title>Vue Example</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <script src="bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    <script src="vue.global.js"></script>
</head>

<body>

    <div id="app">
        <!-- <div class="p-1"><button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#addbillpopup" >Add Bill</button></div> -->

        <div class="p-1"><button class="btn btn-primary" v-on:click="show_add_form">Add Bill</button></div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>SNo</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Amount</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="bill,bi in bills">
                    <td>{{ bi+1 }}</td>
                    <td>{{ bill['customer'] }}</td>
                    <td>{{ bill['mobile'] }}</td>
                    <td>{{ bill['amount'] }}</td>
                    <td><input type="button" value="Edit" class="btn btn-primary" v-on:click="show_edit_form(bi)"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <!-- Modal -->
        <div class="modal fade" id="addbillpopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Bill</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td>Customer</td>
                                <td>Mobile</td>
                                <td>Amount</td>
                            </tr>
                            <tr>
                                <td><input type="text" v-model="add_record['customer']"></td>
                                <td><input type="text" v-model="add_record['mobile']"></td>
                                <td>{{ add_record['amount'] }}</td>
                            </tr>
                        </table>

                        <table class="table table-striped table-bordered table-hover table-sm">
                            <tr>
                                <td>#</td>
                                <td>Product</td>
                                <td>Price</td>
                                <td>Qty</td>
                                <td>Total</td>
                                <td>Tax</td>
                                <td>Net</td>
                                <td>Delete</td>
                            </tr>
                            <tr v-for="item,i in add_record['items']">
                                <td>{{ i+1 }}</td>
                                <td>
                                    <select class="form-select form-select-sm" v-model="item['product_id']"
                                        v-on:change="product_selected(i)">
                                        <option v-for="p,pi in products" v-bind:value="pi">{{ p['name'] }}</option>
                                    </select>
                                </td>
                                <td align="right">{{ item['price'] }}</td>
                                <td><input type="number" class="form-control form-control-sm" style="width:80px;"
                                        v-model="item['qty']" v-on:change="calc(i)"></td>
                                <td align="right">{{ item['total'] }}</td>
                                <td align="right">{{ item['tax'] }}%</td>
                                <td align="right">{{ item['net'] }}</td>
                                <td><input type="button" value="X" v-on:click="del(i)"></td>
                            </tr>
                        </table>
                        <div><input type="button" value="Add Product" v-on:click="add_item"></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="save_bill">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editbillpopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Bill</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td>Customer</td>
                                <td>Mobile</td>
                                <td>Amount</td>
                            </tr>
                            <tr>
                                <td><input type="text" v-model="edit_record['customer']"></td>
                                <td><input type="text" v-model="edit_record['mobile']"></td>
                                <td>{{ edit_record['amount'] }}</td>
                            </tr>
                        </table>

                        <table class="table table-striped table-bordered table-hover table-sm">
                            <tr>
                                <td>#</td>
                                <td>Product</td>
                                <td>Price</td>
                                <td>Qty</td>
                                <td>Total</td>
                                <td>Tax</td>
                                <td>Net</td>
                                <td>Delete</td>
                            </tr>
                            <tr v-for="item,i in edit_record['items']">
                                <td>{{ i+1 }}</td>
                                <td>
                                    <select class="form-select form-select-sm" v-model="item['product_id']"
                                        v-on:change="edit_product_selected(i)">
                                        <option v-for="p,pi in products" v-bind:value="pi">{{ p['name'] }}</option>
                                    </select>
                                </td>
                                <td align="right">{{ item['price'] }}</td>
                                <td><input type="number" class="form-control form-control-sm" style="width:80px;"
                                        v-model="item['qty']" v-on:change="edit_calc(i)"></td>
                                <td align="right">{{ item['total'] }}</td>
                                <td align="right">{{ item['tax'] }}%</td>
                                <td align="right">{{ item['net'] }}</td>
                                <td><input type="button" value="X" v-on:click="edit_del(i)"></td>
                            </tr>
                        </table>
                        <div><input type="button" value="Add Product" v-on:click="edit_form_add_item(i)"></div>
                        

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="edit_save_bill()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        var app = Vue.createApp({
            data() {
                return {
                    save_ind:-1,
                    name: /^[a-z A-Z]{3,50}$/,
                    phone: /^[6-9]{1}[0-9]{9}$/,
                    products: [
                        {
                            "name": "Samsung TV",
                            "price": 45000,
                        },
                        {
                            "name": "LG AirConditioner",
                            "price": 35000,
                        },
                        {
                            "name": "Google Pixel Phone",
                            "price": 55000,
                        },
                        {
                            "name": "Philips Kettle",
                            "price": 350,
                        },
                        {
                            "name": "Maharaja Grinder",
                            "price": 600,
                        },
                        {
                            "name": "Lenova Laptop",
                            "price": 5000,
                        },

                    ],
                    bills: [
                        {
                            "customer": "Narayana",
                            "mobile": "9834884993",
                            "amount": 44444,
                            "items": [
                                {
                                    "product_id": 1,
                                    "price": 353,
                                    "qty": 5,
                                    "total": 43433,
                                    "tax": 18,
                                    "net": 48349
                                }
                            ]
                        }
                    ],
                    add_record: {
                        "customer": "",
                        "mobile": "",
                        "amount": 0,
                        "items": [
                            {
                                "product_id": -1,
                                "price": 0,
                                "qty": 1,
                                "total": 0,
                                "tax": 0,
                                "net": 0,
                            }
                        ]
                    },
                    edit_record: {
                        "customer": "",
                        "mobile": "",
                        "amount": 0,
                        "items": [
                            {
                                "product_id": -1,
                                "price": 0,
                                "qty": 0,
                                "total": 0,
                                "tax": 0,
                                "net": 0,
                            }
                        ]
                    },
                };
            },
            mounted() {
                //this.show_add_form();

            },
            methods: {
                add_item: function () {
                    this.add_record['items'].push({
                        "product_id": "",
                        "price": "",
                        "qty": 1,
                        "total": 0,
                        "tax": 0,
                        "net": 0
                    });
                },
                product_selected: function (vi) {
                    var p = this.products[this.add_record['items'][vi]['product_id']]['price'];
                    this.add_record['items'][vi]['price'] = p;
                    this.calc(vi);
                },
                calc: function (vi) {
                    this.add_record['items'][vi]['total'] = this.add_record['items'][vi]['price'] * this.add_record['items'][vi]['qty'];
                    this.add_record['items'][vi]['tax'] = 18;
                    this.add_record['items'][vi]['net'] = this.add_record['items'][vi]['total'] + (this.add_record['items'][vi]['total'] * this.add_record['items'][vi]['tax'] / 100);
                    this.calc_amount();
                },
                calc_amount: function () {
                    var n = 0;
                    for (var i = 0; i < this.add_record['items'].length; i++) {
                        n = n + this.add_record['items'][i]['net'];
                    }
                    this.add_record['amount'] = n;
                },
                edit_calc_amount: function () {
                    var n = 0;
                    for (var i = 0; i < this.edit_record['items'].length; i++) {
                        n = n + this.edit_record['items'][i]['net'];
                    }
                    this.edit_record['amount'] = n;
                },
                show_add_form: function () {
                    pop = new bootstrap.Modal(document.getElementById('addbillpopup'));
                    pop.show();
                },
                show_edit_form: function (i) {
                    this.save_ind = i;
                    this.edit_record['customer'] = this.bills[i]['customer'] + '';
                    this.edit_record['mobile'] = this.bills[i]['mobile'] + '';
                    this.edit_record['amount'] = this.bills[i]['amount'] + '';
                    this.edit_record['items'] = JSON.parse(JSON.stringify(this.bills[i]['items']));
                    pop = new bootstrap.Modal(document.getElementById('editbillpopup'));
                    pop.show();
                },
                edit_product_selected: function (vi) {
                    var p = this.products[this.edit_record['items'][vi]['product_id']]['price'];
                    this.edit_record['items'][vi]['price'] = p;
                    this.edit_calc(vi);
                },
                edit_calc: function (vi) {
                    this.edit_record['items'][vi]['total'] = this.edit_record['items'][vi]['price'] * this.edit_record['items'][vi]['qty'];
                    this.edit_record['items'][vi]['tax'] = 18;
                    this.edit_record['items'][vi]['net'] = this.edit_record['items'][vi]['total'] + (this.edit_record['items'][vi]['total'] * this.edit_record['items'][vi]['tax'] / 100);
                    this.edit_amount();
                },
                edit_amount: function () {
                    var n = 0;
                    for (var i = 0; i < this.edit_record['items'].length; i++) {
                        n = n + this.edit_record['items'][i]['net'];
                    }
                    this.edit_record['amount'] = n;
                },
            del: function (di) {
                this.add_record['items'].splice(di, 1)
                this.calc_amount();

            },
            edit_del: function (di) {
                this.edit_record['items'].splice(di, 1)
                this.edit_calc_amount();
            },
            edit_form_add_item: function () {
                    this.edit_record['items'].push({
                        "product_id":-1,
                        "price": "",
                        "qty": 1,
                        "total": 0,
                        "tax": 0,
                        "net": 0
                    });
                },
            save_bill: function () {
                if (this.add_record['customer'].match(this.name)) {
                    if (this.add_record['mobile'].match(this.phone)) {
                        if (this.add_record['amount'] > 0) {
                            this.bills.push(JSON.parse(JSON.stringify(this.add_record)));
                            this.add_record = {
                                "customer": "",
                                "mobile": "",
                                "amount": 0,
                                "items": [
                                    {
                                        "product_id": -1,
                                        "price": 0,
                                        "qty": 1,
                                        "total": 0,
                                        "tax": 0,
                                        "net": 0,
                                    }
                                ]
                            };
                            //pop = new bootstrap.Modal(document.getElementById('addbillpopup') );
                            pop.hide();
                        }
                        else {
                            alert("Product count greater then 1")
                        }
                    }
                    else {
                        alert("phone number must be in interger and exact length is 10")
                    }
                }
                else {
                    alert("Customer name should be in alphabets")
                }
            },
            edit_save_bill: function () {
                // console.log("ition"+this.);
                    if (this.edit_record['customer'].match(this.name)) {
                    if (this.edit_record['mobile'].match(this.phone)) {
                        if (this.edit_record['amount'] > 0) {
                            this.bills[this.save_ind]=JSON.parse(JSON.stringify(this.edit_record));
                            this.edit_record = {
                                "customer": "",
                                "mobile": "",
                                "amount": 0,
                                "items": [
                                    {
                                        "product_id": -1,
                                        "price": 0,
                                        "qty": 1,
                                        "total": 0,
                                        "tax": 0,
                                        "net": 0,
                                    }
                                ]
                            };
                            //pop = new bootstrap.Modal(document.getElementById('addbillpopup') );
                            pop.hide();
                        }
                        else {
                            alert("Product count greater then 1")
                        }
                    }
                    else {
                        alert("phone number must be in interger and exact length is 10")
                    }
                }
                else {
                    alert("Customer name should be in alphabets")
                }
            }
        }
    }
    ).mount("#app");
    </script>

</body>

</html>