body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#formContainer, #cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

#userForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

input[type="text"], input[type="button"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"] {
    border: 1px solid #cccccc;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="button"] {
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 10px;
}

.card input[type="text"] {
    border: 1px solid #cccccc;
    background-color: #e9ecef;
    cursor: not-allowed;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}
.checkbox-container input[type="checkbox"] {
    width: 40px; /* Adjust the width */
    height: 40px; /* Adjust the height */
    margin-right: 10px;
    box-shadow: #0056b3;
}
